<div class="row">
  <div class="col-8">
    <div class="CartContainer">
      <div class="row">
        <div class="col-12">
          <h3>Cart Items</h3>
        </div>
      </div>

      <div class="row pt-1" *ngFor="let cartProduct of cartProducts">
        <div class="col-4">
          <img
            class="img-fluid"
            style="height: 60px; width: 60px; border-radius: 50%"
            [src]="cartProduct.productImageUrl"
            class="card-img-top"
          />
        </div>
        <div class="col-3">
          {{ cartProduct.productName }}
        </div>
        <div class="col-2">
          {{ cartProduct.quantity + 1 }}
        </div>
        <div class="col-2 text-end">${{ cartProduct.productPrice }}</div>
        <div class="col-1">
          <button
            class="btn btn-sm btn-danger"
            (click)="removeProductFromCartById(cartProduct.cartId)"
          >
            Remove
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-3"></div>
        <div class="col-9">
          <hr />
        </div>
      </div>

      <div class="row">
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-4">
          <div class="Subtotal">Sub-Total</div>
          <div>
            <small> {{ cartProducts.length }} items</small>
          </div>
        </div>
        <div class="col-4 text-end">
          <strong> ${{ subTotal }}</strong>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-end">
          <button class="btn btn-sm btn-success" (click)="makeSale()">
            Make Sale
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
